$nav-height: 2.5em;
$u: 2rem; // one padding-unit


// colors

$color__blue: #00AEEF;
$color__grey: #aaa;
$color__light: #f4f4f4;
$color__grey-dark: #e6e7e8;
$color__dark: #231f20;

$color__body-background: $color__light;
$color__body-color: $color__dark;
