@import 'variables';

.log {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 20px;
	background: lighten($color__grey, 30%);
	border-top: 1px solid lighten($color__grey, 23%);;
	box-shadow: 0px -3px 6px 4px rgba(219,219,219,0.2);
}

.log-input {
	width: calc(100vw - (#{$u} * 2));
	padding: $u / 3;
	border: none;
	border-radius: 4px;
	font-size: $u / 2;
	&::placeholder {
		color: darken($color__grey, 10%);
		font-weight: 200;
	}
}

.commits-this-week {
	color: lighten($color__dark, 40%);
	font-size: 14px;
	font-style: italic;
	margin-top: 8px;
	display: block;
	text-align: right;
	font-weight: 200;
}

.live-update {
	@extend .commits-this-week;
	text-align: left;
	margin-bottom: 8px;
	margin-left: 12px;
}
