button {
	font-size: .9em;
	font-family: 'Hack';
	font-weight: 700;
	cursor: pointer;
	outline: none;
	padding: 0.6em 2.3em;
	margin: 3px;
	border-radius: 6px;
	display: inline-block;
	color: #fff;
	background-color: $color__blue;
	transition: all 0.15s ease;
	box-sizing: border-box;
	border: 2px solid $color__blue;
	&:hover {
		background: lighten($color__blue, 10%);
		border-color: lighten($color__blue, 10%);
	}
}

button.alt {
	color: black;
	background-color: transparent;
	border-color: black;
	&:hover {
		background: black;
		color: white;
	}
}