@import '../assets/scss/variables';

.task { // article element
	// margin-bottom: 1em;
	position: relative;
	transition: all .35s ease;
	border-radius: 4px;
	padding-right: 1.5em;
	// padding-left: 1.5em;
	color: $color__light;
	margin-top: 6px;

	.task-edit {
		position: absolute;
		// padding: 1em;
		opacity: 0;
		background: $color__blue;
		transform: translate3D(-100%, 0, 0);
		width: 2px;
		height: 100%;
		top: 0px;
		left: 0px;
		cursor: pointer;
    transition: transform .25s ease, opacity .2s ease;
	}

	&.editable {
		// padding-left: 1.5em;
		padding-bottom: .6em;
		padding-top: .6em;
	}
	&.editable, &:hover {
		padding-left: 1.5em;
		.task-edit {
			transform: translate3D(0%,0,0);
			opacity: 1;
		}
	}

	.task-title {
		display: inline-block;
		font-size: 18px;
	}
	.details {
		font-size: 14px;
		color: #678;
		font-style: italic;
		padding-top: 2px;
		font-family: Helvetica, sans-serif;
		font-variant: oblique;
		transition: all .5s ease;
		max-height: 1em;
		display: inline;
	}
	.editbox {
		max-height: 0;
		overflow: hidden;
		// display: flex;
		// flex-wrap: wrap;
		transition: all .6s ease;

		.row {
			// flex: 1 1 auto;
			&.actions {
				width: 100%;
				margin-top: .25em;
			}
		}

		input {
			color: #9ab;
			font-size: 14px;
			background: transparent;
			border: none;
			padding: 1em 1em 1em 0;
			line-height: 1;
			outline: none;
			border-bottom: 1px solid transparent;
			transition: border .1s ease;
			display: inline-block;
			&:focus {
				color: white;
				border-bottom: 1px solid white;
			}
		}
	}

	&.editable {
		background: rgba(120,120,120,0.3);
		img {
			transform: rotateZ(90deg);
		}
		.details {
			opacity: 0;
			transform: translateX(10px);
			max-height: 0;
		}
		.editbox {
			max-height: 15em;
		}
	}
	&.dismissed {
		transform: translateX(100%);
		opacity: 0;
		max-height: 0;
	}
}