h1, h2, h3 {
	font-family: "Helvetica Light", Helvetica, sans-serif;
	font-weight: 400
}

h3 {
	color: lighten($color__dark, 30%);
	letter-spacing: 0.4px;
	font-size: 18px;
}

hr {
	border: 0;
	height: 0;
	border-bottom: 1px solid white;
	margin-bottom: 1em;
}