<IfModule mod_rewrite.c>
	RewriteEngine	On
	RewriteCond		%{REQUEST_FILENAME}	!-d
	RewriteCond		%{REQUEST_FILENAME}	!-f
	RewriteRule		^(.*)$ index.php/$1	[L,QSA]
</IfModule>

<IfModule mod_headers.c>
	Header add Access-Control-Allow-Origin: "*"
	Header add Access-Control-Allow-Methods: "GET,POST,OPTIONS,DELETE,PUT"
	Header add Access-Control-Allow-Headers: "Content-Type"
</IfModule>
