@import './scss/variables';
@import './scss/mixins';

::-webkit-scrollbar-thumb:vertical {
	height: 10px;
	background-color: black;
}

::-webkit-scrollbar {
	width: 5px;
	height: 1px;
	background: grey;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	background-image: linear-gradient(to right top, #002B55 0%, #262233 100%);
	-webkit-font-smoothing: antialiased;
}

.wrapper {
	height: calc(100vh - #{$nav-height});
	padding: 30px 40px;
	margin-bottom: $nav-height;
	width: 100vw;
}

#nav.hidden + .wrapper {
	width: 100vw;
	margin-left: 0;
}

main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.header {
	width: 100%;
	flex-grow: 1;
}

.module {
	width: calc(50% - 2px);
	padding: 1em;
	background: #EAE0D5;
	border-radius: 1px;
	margin-bottom: 4px;
	&:only-of-type {
		width: 100%;
	}
	&.left-side {
		margin-right: 2px;
	}
}

.full-width {
	width: 100%;
}

textarea {
	resize: vertical;
}

main > div { flex-basis: 50%; }

@import './scss/typography';
@import './scss/buttons';
