@import './scss/variables';
@import './scss/mixins';

::-webkit-scrollbar-thumb:vertical {
	height: 10px;
	background-color: $color__blue;
}

::-webkit-scrollbar {
	width: 5px;
	height: 1px;
	background: grey;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	color: $color__body-color;
	background-color: $color__body-background;
}

.wrapper {
	height: 100%;
	padding: $u;
	width: 100vw;
}

#nav.hidden + .wrapper {
	width: 100vw;
	margin-left: 0;
}

.full-width {
	width: 100%;
}

textarea {
	resize: vertical;
}

main > div { flex-basis: 50%; }

@import './scss/typography';
@import './scss/buttons';
@import './scss/task';
