#editor-pill {
	position: fixed;
	background: var(--b-low);
	border-radius: 50%;
	width: 300vh;
	height: 300vh;
	transform: translate(-50%, -50%);
	animation: .5s grow;
}

#editor-pill.closed {
	animation: .5s shrink;
	transform: translate(-50%, -50%) scale(0);
}

#editor-close {
	position: fixed;
	color: white;
	right: calc(var(--u) * 3);
	bottom: calc(var(--u) * 3);
	z-index: 22;
	background: var(--b-low);
}

#editor {
	z-index: 21;
	position: absolute;
	top: 0;
	width: 100%;
	padding-top: calc(var(--u)* 3);
	opacity: 0;
	transition: opacity .3s ease-in-out;
}

#editor .loading {
	text-align: center;
	position: relative;
	transform: translateY(50%);
	height: 100%;
}

#editor.loaded {
	opacity: 1;
}

#editor section {
	text-transform: initial;
	overflow-wrap: break-word;
	font-size: 13px
}

#editor h3 {
	text-align: center;
	font-weight: 100;
	font-family: 'Input Sans';
	text-transform: lowercase;
}

.editor-log {
	display: grid;
	grid-template-columns: 3em 4.5rem 2rem 1fr;
	margin-bottom: 1em;
}

.editor-log .id {
	color: var(--b-inv);
}

.editor-log .date {
	color: var(--b-high);
}

.editor-log .hours {
	color: var(--f-high);
	text-align: center
}

.editor-log .comment {
	grid-column-start: 4;
	color: var(--b-inv);
}

.editor-log .tod {
    grid-column-start: 3;
    text-align: center;
    color: var(--b-inv);
}

.editor-log .task {
    grid-column-start: 4;
}

.editor-log .category {
    grid-column-start: 2;
    grid-row: 2;
    text-align: right;
}

.editor-log .project {
	color: var(--f-inv);
}

@keyframes grow {
	from {
    transform: translate(-50%, -50%) scale(0);
  }

  to {
  	transform: translate(-50%, -50%) scale(1)
  }
}

@keyframes shrink {
	from {
		transform: translate(-50%, -50%) scale(1);
  }

  to {
		transform: translate(-50%, -50%) scale(0);
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
	background-color: var(--b-low);
}

::-webkit-scrollbar-thumb {
  background: white;
}
