#draggable {
	-webkit-app-region: drag;
	height: 2em;
	width: 100%;
	position: fixed;
	top: 0;
}

.fraction-container {
	display: grid;
	gap: var(--u);
	grid-template-columns: calc(var(--u) * 3) 1fr;
	margin-bottom: var(--u);
	flex-grow: 1;
}

.fraction-container svg {
	height: 40px;
	transform: rotate(-45deg)
}

.fraction-container .greeting {
	font-size: 12px;
}

section.header {
	display: flex;
	margin: var(--u) auto calc(var(--u) * 2) auto;
	margin-top: 40px;
	align-items: center;
}

.year-controls {
	text-align: right
}

.year-span {
	padding-left: 20px;
}

.fraction-container .greeting .fraction {
	color: var(--b-high);
	margin-top: 4px;
}

.year {
	font-size: 35px;
}

.year a {
	text-align: center;
	width: 30px;
	display: inline-block;
	margin-left: 10px;
}

.year a:hover {
	color: var(--f-high);
	background: var(--b-low);
	cursor: pointer;
}
