.vis-meta {
	font-size: 12px;
	height: 14px;
	margin-bottom: calc(var(--u) * 3)
}

.vis-meta .hrs {
	color: var(--f-high);
	font-style: normal;
}

#visualiser {
	opacity: 0;
	transition: opacity .2s ease-in;
}

#visualiser.ready {
	opacity: 1;
}

#visualiser text {
	fill:var(--b-high);
	font-size:8px
}

#visualiser rect:hover {
	stroke: white;
	cursor: help
}
